<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lubuwei2.ssm.modules.security.SecurityDao">
    <!--table-->
    <sql id="table">
        accounts
    </sql>
    <!--updateByEidAndPwd-->
    <update id="updateByEidAndPwd" parameterType="Account">
        update <include refid="table"/>
        <set>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime}</if>
        </set>
        where eid = #{eid} and password = #{password}
    </update>
    <!--updateByUsernameAndPwd-->
    <update id="updateByUsernameAndPwd" parameterType="Account">
        update <include refid="table"/>
        <set>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime}</if>
        </set>
        where username = #{username} and password = #{password}
    </update>

    <!--登录成功后返回全部-->
    <resultMap id="LoginResult" type="com.lubuwei2.ssm.modules.security.dto.LoginResult">
        <id column="eid" property="eid" jdbcType="BIGINT" />
        <id column="emp_no" property="empNo" jdbcType="VARCHAR" />
        <id column="real_name" property="realName" jdbcType="VARCHAR"/>
        <id column="birth_date" property="birthDate" jdbcType="DATE"/>
        <id column="gender" property="gender" jdbcType="INTEGER"/>
        <id column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <id column="hire_date" property="hireDate" jdbcType="DATE"/>
        <id column="aid" property="aid" jdbcType="BIGINT" />
        <id column="username" property="username" jdbcType="VARCHAR"/>
        <id column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--cell-->
    <sql id="cell">
      e.eid, e.emp_no, e.real_name, e.birth_date, e.gender, e.mobile, e.hire_date, a.aid, a.username, a.last_login_time
    </sql>
    <select id="findAfterLoginByEid" parameterType="Long" resultMap="LoginResult">
        SELECT  <include refid="cell"/>
        FROM employees e
        INNER JOIN accounts a
        ON
        e.eid = a.eid AND e.eid=#{eid} AND e.is_delete = 0
    </select>
    <select id="findAfterLoginByUsername" parameterType="String" resultMap="LoginResult">
        SELECT  <include refid="cell"/>
        FROM employees e
        INNER JOIN accounts a
        ON
        e.eid = a.eid AND a.username=#{username} AND e.is_delete = 0
    </select>
</mapper>