<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lubuwei2.ssm.modules.employees.EmployeesDao">
    <!--result map-->
    <resultMap id="BasicResult" type="com.lubuwei2.ssm.modules.employees.dto.EmployeesResult">
        <id column="eid" property="eid" jdbcType="BIGINT"/>
        <id column="emp_no" property="empNo" jdbcType="VARCHAR" />
        <id column="real_name" property="realName" jdbcType="VARCHAR"/>
        <id column="birth_date" property="birthDate" jdbcType="DATE"/>
        <id column="gender" property="gender" jdbcType="INTEGER"/>
        <id column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <id column="hire_date" property="hireDate" jdbcType="DATE"/>
    </resultMap>
    <!--cell-->
    <sql id="cell">
      eid, emp_no, real_name, birth_date, gender, hire_date
    </sql>
    <!--table-->
    <sql id="table">employees</sql>
    <!--save-->
    <insert id="save" parameterType="Employee" useGeneratedKeys="true" keyProperty="eid">
        insert into <include refid="table"/>
        (emp_no, real_name, birth_date, gender, mobile, hire_date)
        values
        (#{empNo}, #{realName}, #{birthDate}, #{gender}, #{mobile}, #{hireDate})
    </insert>
    <!--saveBatch-->
    <insert id="saveBatch" parameterType="List" useGeneratedKeys="true" keyProperty="eid">
        INSERT INTO <include refid="table"/>
        (emp_no, real_name, birth_date, gender, mobile, hire_date)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.empNo}, #{item.birthDate}, #{item.firstName}, #{item.lastName}, #{item.gender}, #{item.hireDate})
        </foreach>
    </insert>
    <!--update-->
    <update id="update" parameterType="Employee">
        update <include refid="table"/>
        <set>
            <if test="firstName != null">first_name=#{firstName},</if>
            <if test="lastName != null">last_name=#{lastName},</if>
            <if test="gender != null">gender=#{gender}</if>
        </set>
        where eid=#{eid} AND is_delete = 0
    </update>
    <!--updateBatch-->
    <update id="updateBatch" parameterType="List">
        <foreach collection="list" item="item" index="index" separator=";">
            update <include refid="table"/>
            <set>
                <if test="item.firstName != null">first_name=#{item.firstName},</if>
                <if test="item.lastName != null">last_name=#{item.lastName},</if>
                <if test="item.gender != null">gender=#{item.gender}</if>
            </set>
            where eid=#{item.eid} AND is_delete = 0
        </foreach>
    </update>
    <!--logicDelete-->
    <update id="logicDelete" parameterType="Employee">
        update <include refid="table"/>
        <set>is_delete = 1</set>
        WHERE eid = #{eid} AND is_delete = 0
    </update>
    <!--logicDeleteBatch-->
    <update id="logicDeleteBatch" parameterType="List">
        <foreach collection="list" item="item" index="index" separator=";">
            update <include refid="table"/>
            <set>is_delete = 1</set>
            where eid = #{item.eid} AND is_delete = 0
        </foreach>
    </update>
    <!--delete-->
    <delete id="delete" parameterType="Employee">
        DELETE FROM <include refid="table"/> WHERE eid = #{eid}
    </delete>
    <!--deleteBatch-->
    <delete id="deleteBatch" parameterType="List">
        DELETE FROM <include refid="table"/> WHERE eid IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item.eid}</foreach>
    </delete>
    <!--count-->
    <select id="count" resultType="Long">
        SELECT count(1) FROM <include refid="table"/>
    </select>
    <!--find-->
    <select id="find" parameterType="Employee" resultMap="BasicResult">
        SELECT <include refid="cell"/> FROM <include refid="table"/>
        <where>
            is_delete = 0
            <if test="firstName != ''">AND (first_name LIKE #{firstName})</if>
            <if test="lastName != ''">AND (last_name LIKE #{lastName})</if>
        </where>
    </select>
    <!--findByPK-->
    <select id="findByPK" parameterType="Long" resultMap="BasicResult">
        SELECT <include refid="cell"/> FROM <include refid="table"/>
        <where>
            is_delete = 0 AND eid = #{id}
        </where>
    </select>
</mapper>